name: MLflow CI Training & Docker (Final)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn joblib

    - name: Run MLflow Training
      run: |
        python MLProject/modelling.py

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: |
        docker build -t rafias01/bank-churn-dataset-mlflow:latest .

    - name: Push Docker Image
      run: |
        docker push rafias01/bank-churn-dataset-mlflow:latest