name: MLflow CI Training & Docker

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas joblib

    - name: Run MLflow Training Script
      run: |
        cd MLProject
        python modelling.py

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image with MLflow
      run: |
        cd MLProject

        echo "Folder mlruns:"
        ls -R mlruns/

        # Ambil experiment terakhir
        EXP_DIR=$(ls -d mlruns/* | sort -V | tail -n 1)
        echo "Experiment folder: $EXP_DIR"

        # Ambil run terakhir
        RUN_DIR=$(ls -d $EXP_DIR/* | sort -V | tail -n 1)
        echo "Run folder: $RUN_DIR"

        # Gunakan folder run secara langsung untuk build Docker
        mlflow models build-docker \
          -m "$RUN_DIR/model" \
          -n rafias01/bank-churn-dataset-mlflow

    - name: Push Docker image
      run: docker push rafias01/bank-churn-dataset-mlflow