name: MLflow CI Training & Docker (Advance)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train-and-build-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas joblib

    - name: Run MLflow Project (Training)
      run: |
        mlflow run MLProject --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image from MLflow Project
      run: |
        mlflow models build-docker \
          -n rafias01/bank-churn-dataset-mlflow \
          MLProject

    - name: Push Docker Image
      run: |
        docker push rafias01/bank-churn-dataset-mlflow